@import "tailwindcss";

@layer components {
    .bg-header-image {
        background: url('/bg.jpg') no-repeat;
        background-size: cover;
        background-position: center;
    }

    .blink-animation {
        animation: blink 1s ease-in-out infinite;
    }

    @keyframes blink {
        0%, 100% {
            opacity: 1;
        }

        50% {
            opacity: 0.5;
        }
    }
}