@import "tailwindcss";

@layer components {
    .bg-header-image {
        position: relative;
        background: url('/bg.jpg') no-repeat;
        background-size: cover;
        background-position: center;
    }

    .bg-header-image::before {
        position: absolute;
        width: 100%;
        height: 100%;
        content: '';
        background: rgba(0, 0, 0, 0.32);
        z-index: 0;
    }

    .blink-animation {
        animation: blink 1s ease-in-out infinite;
    }

    @keyframes blink {
        0%, 100% {
            opacity: 1;
        }

        50% {
            opacity: 0.5;
        }
    }
}